<!DOCTYPE html>
<html>
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
   <meta charset="utf-8">
   <meta http-equiv="Content-Type" content="text/html">
   <title>GitHub Repo Search (sorted by number of forks)</title>
   <link rel="stylesheet" type="text/css" media="all" href="css/styles.css">
</head>

<body>

<div id="w" ng-app="myApp" ng-controller="GitHubCtrl">
   <div>
      <h1>Repo Search</h1>

      <h3 style="display: inline;">Type in an organization and click search.</h3>
	  <BR /><b>(example: "twitter")</b>
	  <p></p>
	  <form ng-submit="getGitInfo()" action="javascript:void(0);">
      	 <input type="text" autofocus id="ghusername" ng-model="username" size="64" placeholder="Github organization..." />
		  <button type="submit" id="ghsubmitbtn" ng-click="getGitInfo()">Search</button>
	  </form>
      <div id="ghapidata" class="clearfix"></div>
   </div>
   <div ng-show="userNotFound">
      <h2>No User Info Found</h2>
   </div>
   <div ng-show="loaded">

      <h2> {{user.name}}
         <span class="smallname">(@<a href="{{user.html_url}}" target="_blank"> {{user.login}} </a>)</span>
      </h2>

      <div class="ghcontent">
         <div class="avi">
            <a href="{{ user.html_url }}" target="_blank">
               <img src="{{ user.avatar_url }}" width="80" height="80" alt="{{ user.login }}"></a>
         </div>
         Repos: {{ user.public_repos }}
      </div>
	
	 <div ng-app="myApp" ng-controller="GitHubCtrl">
	 	<p><strong>Repos List:</strong></p>
	  	<table>								
			<!-- We want every pair of items to fit into two cell rows -->
		  <TR ng-repeat="item in data.items" ng-switch on="$index % 2">	
		     <TD> 
			  <TABLE>
			     <tr>
			   	   <td ng-switch-when="0"> 	
					   <!-- Every repository name will be a link to the repository itself -->
				      Repo Name:<a href="{{data.items[$index].html_url}}" target="_blank"> {{data.items[$index].name}} </a>
			       </td>
			     </tr>
			     <tr>
				    <td ng-switch-when="0">	
						<!-- Display how many times this repostiory has been forked -->
				      Forks: <b id="forksnumber">{{data.items[$index].forks_count}}</b>
				    </td>
			     </tr>
			     <tr>
			        <td></td>
			     </tr>
			    </TABLE>
		     </TD>
		     <TD> 
			  <TABLE>
			     <tr>
			   	   <td ng-switch-when="0">
				      Repo Name:<a href="{{data.items[$index+1].html_url}}" target="_blank"> {{data.items[$index+1].name}} </a>
			       </td>
			     </tr>
			     <tr>
				    <td ng-switch-when="0">
				      Forks: <b id="forksnumber">{{data.items[$index+1].forks_count}}</b>
				    </td>
			     </tr>
			     <tr>
			        <td></td>
			     </tr>
			    </TABLE>
			  </TD>			  
		  </TR>	
		</table>
	</div>	
   </div>	
</div>


<script>
	angular.module("myApp",[]);	
	angular.module("myApp").controller("GitHubCtrl", function($scope,$http) {
		$scope.getGitInfo = function () {
        $scope.userNotFound = false;
        $scope.loaded = false;

        $http.get("https://api.github.com/users/" + $scope.username)
			.success(function (data) {
				if (data.name == "") data.name = data.login;
				$scope.user = data;
				$scope.loaded = true;
			})
			.error(function () {
				$scope.userNotFound = true;
			});
			
		var gitOrgUrl = "https://api.github.com/search/repositories?q=org:";		  
		$http.get(gitOrgUrl + $scope.username + "&sort=forks&order=desc")	// sort repostiories by Number of forks
			.then(function onSuccess(response) {
				$scope.data = response.data;
        			// console.log($scope.data);
            		// $scope.reposFound = data.length > 0;
         	});
      }
   })
</script>
</body>
</html>
